/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #ffbd59;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #333;
}

/* Home section styles */
#home {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.home-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
